@model Data.Models.MapMarkers

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MapMarkers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="LocationName" class="control-label"></label>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="MainLangauge" class="control-label"></label>
                <input asp-for="MainLangauge" class="form-control" />
                <span asp-validation-for="MainLangauge" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Dialect" class="control-label"></label>
                <input asp-for="Dialect" class="form-control" />
                <span asp-validation-for="Dialect" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AudioFile" class="control-label"></label>
                <input asp-for="AudioFile" class="form-control" />
                <span asp-validation-for="AudioFile" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Translation" class="control-label"></label>
                <input asp-for="Translation" class="form-control" />
                <span asp-validation-for="Translation" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" />
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AddedbyAdmin" class="control-label"></label>
                <select asp-for="AddedbyAdmin" class ="form-control" asp-items="ViewBag.AddedbyAdmin"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
