@{
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Admin Panel - Hopeuperman</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="images/logo.jpg">
            </div>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="#">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#location">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">Map Content</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Admin Table</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="link-name">Audio Files</span>
                    </a>
                </li>
            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="#">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a>

                </li>
            </ul>
        </div>
    </nav>

    <section id="dashboard" class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            @*<img src="images/profile.jpg">*@
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-site-visits"></i>
                        <span class="text">Total Site Visits</span>
                        <span class="number">420</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-active-users"></i>
                        <span class="text">Active Users</span>
                        <span class="number">10</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-ip-address"></i>
                        <span class="text">User Feedback</span>
                        <span class="number">2</span>
                    </div>
                </div>
            </div>

            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">New Activity</span>
                </div>

                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Name</span>
                        <span class="data-list">Bill Hader</span>
                        <span class="data-list">Stephen Root</span>
                        <span class="data-list">Sarah Goldberg</span>
                        <span class="data-list">Anthony Carrigan</span>
                        <span class="data-list">Henry Wrinkler</span>
                    </div>
                    <div class="data email">
                        <span class="data-title">Email</span>
                        <span class="data-list">barryberkman@gmail.com</span>
                        <span class="data-list">deepachand@gmail.com</span>
                        <span class="data-list">sallyreed@gmail.com</span>
                        <span class="data-list">nohohank@gmail.com</span>
                        <span class="data-list">genecousineau@gmail.com</span>
                    </div>
                    <div class="data joined">
                        <span class="data-title">Joined</span>
                        <span class="data-list">2022-04-20</span>
                        <span class="data-list">2022-04-20</span>
                        <span class="data-list">2022-04-20</span>
                        <span class="data-list">2022-04-20</span>
                        <span class="data-list">2022-04-20</span>
                    </div>
                    <div class="data type">
                        <span class="data-title">Type</span>
                        <span class="data-list">Admin</span>
                        <span class="data-list">Admin</span>
                        <span class="data-list">Admin</span>
                        <span class="data-list">Admin</span>
                        <span class="data-list">Admin</span>
                    </div>
                    <div class="data status">
                        <span class="data-title">Status</span>
                        <span class="data-list">Approved</span>
                        <span class="data-list">Approved</span>
                        <span class="data-list">Approved</span>
                        <span class="data-list">Approved</span>
                        <span class="data-list">Approved</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="location" class="location">
        <div class="title-text">
            <p>Table 1: Map Marker</p>
            <h1>Edit the location at the section below</h1>
        </div>
        <table class="content-table">
            <thead>
                <tr>
                    <th>markerId</th>
                    <th>longitude</th>
                    <th>latitude</th>
                    <th>Function</th>
                    <th>Function</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1.189616</td>
                    <td>123.1816</td>
                    <td><a href="" target="_blank">Edit</a></td>
                    <td><a href="" target="_blank">Delete</a></td>
                </tr>
                <tr class="active-row">
                    <td>2</td>
                    <td>1.186133</td>
                    <td>165.15671865</td>
                    <td><a href="" target="_blank">Edit</a></td>
                    <td><a href="" target="_blank">Delete</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>1.8496131</td>
                    <td>113.16816163</td>
                    <td><a href="" target="_blank">Edit</a></td>
                    <td><a href="" target="_blank">Delete</a></td>
                </tr>
                <tr class="active-row">
                    <td>4</td>
                    <td>1.16853843</td>
                    <td>141.3651</td>
                    <td><a href="" target="_blank">Edit</a></td>
                    <td><a href="" target="_blank">Delete</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>1.47864564</td>
                    <td>123.456373</td>
                    <td><a href="" target="_blank">Edit</a></td>
                    <td><a href="" target="_blank">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </section>


    <script src="script.js"></script>
</body>
</html>