@{
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Admin Panel - Hopeuperman</title>
    <style>
        .body {
        }

        .sectionHeader {
            font-family: 'Piazzolla', serif;
            font-weight: bold;
            font-size: 38px;
            color: black;
            /*text-decoration: none;*/
        }

    </style>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="images/logo.jpg">
            </div>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="#Statistics">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Statistics</span>
                    </a>
                </li>
                <li>
                    <a href="#MapTable">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">Map Table</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section id="dashboard" class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            @*<img src="images/profile.jpg">*@
        </div>

        <div class="dash-content" id="Statistics">
            <div class="overview">
                <div class="title">
                    <span class="sectionHeader">Statistics</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-site-visits"></i>
                        <span class="text">Total Site Visits</span>
                        <span class="number">420</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-active-users"></i>
                        <span class="text">Active Users</span>
                        <span class="number">10</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-ip-address"></i>
                        <span class="text">User Feedback</span>
                        <span class="number">2</span>
                    </div>
                </div>
            </div>

            <div class="activity" id="MapTable">
                <div class="title">
                    <a href="@Url.Action("Index","MapMarkers")" class="sectionHeader">Map Table</a>
                </div>
            </div>
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>