<!--This page is for information about each dialect-->
<!---
    To do:
    1. Small index section like wikipedia
        - Index will direct users to information regarding each dialect
        - information will be on the same page

    2. Information section
        - dialect name
        - dialect information
        - will direct users to the map with coordinates
-->
@{
    ViewData["Title"] = "Dialeclopedia";
}

<html>
    <head>
        <style>
            .indexSection {

            }

            .indexText1 {

            }
            
            .indexText2 {

            }
        </style>
    </head>
    <body>
        <section class="indexSection" role="navigation">
            <div>
                <h4>Content</h4>
            </div>
            <div>
                <ol>
                    <li id="1"><p class="indexText1">Iban</p>
                        <ul>
                            <li><p class="indexText2">Mualang</p></li>
                            <li><p class="indexText2">Remun/Milikin</p></li>
                            <li><p class="indexText2">Sebuyau</p></li>
                        </ul>
                    </li>
                    <li id="2"><p class="indexText1">Chinese</p>
                        <ul>
                            <li><p class="indexText2">Foochow</p></li>
                            <li><p class="indexText2">Cantonese</p></li>
                            <li><p class="indexText2">Hokkien</p></li>
                        </ul>
                    </li>
                </ol>
            </div>
        </section>
    </body>
</html>
