<!--This is the homepage-->
@{
    ViewData["Title"] = "Homepage";
}

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/site.css" />

    <style>
        .sectionContent {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 80%;
            margin: auto;
            height: 500px;
        }

        .headerText {
            font-family: 'Piazzolla', serif;
            font-weight: bold;
            font-size: 38px;
        }

        .paragraphText {
            font-size: 20px;
        }

        .firstSection {
            background-image: url("/images/kuching_sarawak.jpg");
            -webkit-text-fill-color: white;
            text-shadow: 0 0 5px #000000, 0 0 10px #000000;
        }

        .secondSection {
            background-image: url("/images/diversity.jpg");
            -webkit-text-fill-color: white;
            text-shadow: 0 0 5px #000000, 0 0 10px #000000;
        }

        .thirdSection {
            background-image: url("/images/hotfuzz.jpg");
            -webkit-text-fill-color: white;
            text-shadow: 0 0 5px #000000, 0 0 10px #000000;
        }

        .fourthSection {
            background-image: url("/images/hackerman.jpg");
            -webkit-text-fill-color: white;
            text-shadow: 0 0 5px #000000, 0 0 10px #000000;
        }

        .fifthSection {
            background-image: url("/images/johncena.png");
            -webkit-text-fill-color: white;
            text-shadow: 0 0 5px #000000, 0 0 10px #000000;
        }
    </style>
</head>

<body>
    <section class="firstSection">
        <div class="sectionContent">
            <div class="sectionHeader">
                <h1 class="headerText">
                    Sarawak
                </h1>
                <p class="paragraphText">
                    <i>
                        Sarawak, a Malaysian state on Borneo, stretches along
                        the island's northwest coast, including many beaches
                        on the South China Sea. It is known for the rugged and
                        dense rainforest of its interior, much of it protected
                        parkland. The capital, Kuching, is a bustling city set
                        on the Sarawak River. Sarawak is also known for its
                        rich history.
                    </i>
                </p>
            </div>
        </div>
    </section>

    <section class="secondSection">
        <div class="sectionContent">
            <div class="sectionHeader">
                <h1 class="headerText">
                    Ethnic Diversity
                </h1>
                <p class="paragraphText">
                    <i>
                        The population of Sarawak is very diverse. There are more
                        than 40 races in Sarawak including Dayak, Malay, Chinese,
                        and others with their own distinct languages, cultures,
                        and lifestyle.
                    </i>
                </p>
            </div>
        </div>
    </section>

    <section class="thirdSection">
        <div class="sectionContent">
            <div class="sectionHeader">
                <h1 class="headerText">
                    Dialect
                </h1>
                <p class="paragraphText">
                    <i>
                        Defined as a regional or social variety of language
                        distinguished by pronunciation, grammar, or vocabulary,
                        especially a variety of speech differing from the standard
                        literary language or speech pattern of the culture in which
                        it exists.
                    </i>
                </p>
            </div>
        </div>
    </section>

    <section class="fourthSection">
        <div class="sectionContent">
            <div class="sectionHeader">
                <h1 class="headerText">
                    Why is this website and why it exists?
                </h1>
                <p class="paragraphText">
                    <i>
                        This website is created for Sarawak local language studies,
                        more specifically, dialects. We use openstreetmap to provide
                        an interactive map for users to interact and learn more about
                        the unique dialects in Sarawak and the location of where they
                        are spoken.<br> As for why it exists, I don't know. Why do you
                        exist? Why do any of us exist? Is there a higher reason for our
                        existence that is not because of our parents got too horny and
                        forgot condom?
                    </i>
                </p>
            </div>
        </div>
    </section>

    <section class="fifthSection">
        <div class="sectionContent">
            <div class="sectionHeader">
                <h1 class="headerText">
                    Interactive Map
                </h1>
                <p class="paragraphText">
                    <i>
                        You can interact with the map by going up to the navigation bar and click
                        on <b>Interactive Map</b> or by clicking
                        <a asp-controller="Home" asp-action="InteractiveMap">here</a>.
                        <br />
                        If you do not know how to
                        interact with it, you can go up to the navigation bar and click
                        on <b>Tutorial</b> or click
                        <a asp-controller="Home" asp-action="Tutorial">here</a>
                        to learn more about it.
                    </i>
                </p>

                <div id="map"></div>
                <script src="/js/mainMapScript.js"></script>
            </div>
        </div>
    </section>


</body>
</html>