@{
    ViewData["Title"] = "Policies";
}

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/site.css" />
    <style>
        .imageCenter {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style=text-align:center;>Privacy Policy</h1><br />

        <p>
            The simple narrative taught in every history class is demonstrably
            false and pedagogically classist. Don't you know the world is built
            with blood, and genocide, and exploitation? The global network of
            capital essentially functions to separate the worker from the means
            of production and Epstein didn't kill himself.
            <br /><br />
            We want you to understand why the authors ("we" or "us") collect
            and use the information about you when you use our website. This
            privacy policy applies to the entirety of our website and the
            services it provides.
        </p>

        <ol>
            <li>
                <b><u>What We Collect</u></b>

                <p>
                    <ul>
                        <li>
                            IP address
                            <p>
                                Your IP address is collected for us to prevent
                                against cyberattacks such as Distributed Denial
                                of Service (DDOS) attacks. Your IP address will
                                be deleted after 100 days.
                            </p>
                        </li>
                        <li>
                            Content you submitted
                            <p>
                                We will collect the content you submitted such as
                                your audio file, suggestions, descriptions, and
                                other files you voluntarily submitted to us. This
                                is used to provide better content to every visitor
                                of the website.
                            </p>
                        </li>
                    </ul>
                </p>
            </li>

            <li>
                <b><u>How We Protect Your Information</u></b>
                <p>
                    We take measures to protect your information from being stolen
                    or from unauthorized access. For example, we use HTTPS while
                    information is being transmitted. Our team will not disclose
                    any non-public personal information about you. Our team will
                    not sell your information to any third party.
                </p>
            </li>
        </ol>

        <br />
        <p>
            By the way, here is an interesting video about privacy in the modern
            age, how the governments and the people in power are dumping loads
            of money into making our privacy into as what the German likes to call
            "scheiße", and what we can do to prevent this. Before I kept on ranting,
            here's the <a href="https://www.youtube.com/watch?v=wqn3gR1WTcA">link</a>.
        </p>
    </div>
    <br /><br /><br /><br />
    <div class="container">
        <h1 style=text-align:center;>Terms of Service</h1><br />
        <blockquote>
            <b>
                <i>
                    "I am old, Gandalf. I don't look it, but I am
                    beginning to feel it in my heart of hearts.
                    Well-preserved indeed! Why, I feel all thin, sort of
                    stretched, if you know what I mean: like butter that
                    has been scraped over too much bread. That can't be
                    right. I need a change, or something."
                </i>
            </b><br />
            <p style=text-align:center;>- Martin Luther King</p>
            <img class="imageCenter" src="/images/bozos.jpg" width="100" height="100" />
        </blockquote>

        <p>
            From here on, "we" and us" will be referred to the
            authors of the website; "you" will be referred to
            the user that is using the services provided by the
            website.
        </p>

        <ol>
            <li>
                <b><u>Privacy</u></b>

                <p>
                    Your privacy matters to us. It is a fundamental human
                    right. Our <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                    explains how and why we collect and use the information
                    about you when you access our website. By continue using
                    our website, you consent to the collection and usage of
                    your information as set forth in the Privacy Policy.
                </p>
            </li>

            <li>
                <b><u>Things You Cannot Do</u></b>
                <p>
                    <ul>
                        <li>
                            <h5>Duplication of Our Website</h5>
                            <p>
                                This project is open source and under <a href="/txts/COPYING.txt">GNU General Public License v3.0</a>.
                                You may copy, modify, or distribute this project verbatim, <b>EXCEPT</b> distributing
                                close sourced versions.
                            </p>
                        </li>
                        <li>
                            <h5>Hacking Our Website</h5>
                            <p>Please. Don't.</p>
                        </li>
                    </ul>
                </p>
            </li>

            <li>
                <b><u>IP Block</u></b>
                <p>
                    If we noticed any strange activity originate from your IP address,
                    we reserve the right to block your IP address from accessing our
                    website. If you have any questions or concerns, please contact the
                    <a asp-area="" asp-controller="Home" asp-action="More">authors</a> of this website.
                </p>
            </li>
        </ol>
    </div>
</body>
</html>