@{
    ViewData["Title"] = "Policies";
}

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/site.css" />
    <style>
        .imageCenter {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style=text-align:center; id="privacyPolicy">Privacy Policy</h1><br />

        <p>
            The simple narrative taught in every history class is demonstrably
            false and pedagogically classist. Don't you know the world is built
            with blood, and genocide, and exploitation? The global network of
            capital essentially functions to separate the worker from the means
            of production.
            <br /><br />
            We want you to understand why the authors ("we" or "us") collect
            and use the information about you when you use our website. This
            privacy policy applies to the entirety of our website and the
            services it provides.
        </p>

        <ol>
            <li>
                <b><u>What We Collect</u></b>

                <p>
                    <ul>
                        <li>
                            Content you submitted
                            <p>
                                We will collect the content you submitted such as
                                your audio file, suggestions, descriptions, and
                                other files you voluntarily submitted to us. This
                                is used to provide better content to every visitor
                                of the website.
                            </p>
                        </li>
                    </ul>
                </p>
            </li>

            <li>
                <b><u>How We Protect Your Information</u></b>
                <p>
                    We take measures to protect your information from being stolen
                    or from unauthorized access. For example, we use HTTPS while
                    information is being transmitted. Our team will not disclose
                    any non-public personal information about you. Our team will
                    not sell your information to any third party.
                </p>
            </li>
        </ol>
    </div>
    <br /><br /><br /><br />
    <div class="container">
        <h1 style=text-align:center; id="tos">Terms of Service</h1><br />

        <p>
            From here on, "we" and us" will be referred to the
            authors of the website; "you" will be referred to
            the user that is using the services provided by the
            website.
        </p>

        <ol>
            <li>
                <b><u>Privacy</u></b>

                <p>
                    Your privacy matters to us. It is a fundamental human
                    right. Our <a href="#privacyPolicy">Privacy Policy</a>
                    explains how and why we collect and use the information
                    about you when you access our website. By continue using
                    our website, you consent to the collection and usage of
                    your information as set forth in the Privacy Policy.
                </p>
            </li>

            <li>
                <b><u>Things You Cannot Do</u></b>
                <p>
                    <ul>
                        <li>
                            <h5>Hacking Our Website</h5>
                            <p>Please. Don't.</p>
                        </li>
                    </ul>
                </p>
            </li>
        </ol>
    </div>
</body>
</html>