<!--This page is for privacy policy-->

@{
    ViewData["Title"] = "Privacy policy";
}

<html>
<head>
</head>

<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <p>
            The simple narrative taught in every history class is demonstrably
            false and pedagogically classist. Don't you know the world is built
            with blood, and genocide, and exploitation? The global network of
            capital essentially functions to separate the worker from the means
            of production and Epstein didn't kill himself.
            <br /><br />
            We want you to understand why the authors ("we" or "us") collect
            and use the information about you when you use our website. This
            privacy policy applies to the entirety of our website and the
            services it provides.
        </p>

        <ol>
            <li>
                <b><u>What We Collect</u></b>

                <p>
                    <ul>
                        <li>
                            IP address
                            <p>
                                Your IP address is collected for us to prevent
                                against cyberattacks such as Distributed Denial
                                of Service (DDOS) attacks. Your IP address will
                                be deleted after 100 days.
                            </p>
                        </li>
                        <li>
                            Content you submitted
                            <p>
                                We will collect the content you submitted such as
                                your audio file, suggestions, descriptions, and
                                other files you voluntarily submitted to us. This
                                is used to provide better content to every visitor
                                of the website.
                            </p>
                        </li>
                    </ul>
                </p>
            </li>

            <li>
                <b><u>How We Protect Your Information</u></b>
                <p>
                    We take measures to protect your information from being stolen
                    or from unauthorized access. For example, we use HTTPS while
                    information is being transmitted. Our team will not disclose
                    any non-public personal information about you. Our team will
                    not sell your information to any third party.
                </p>
            </li>
        </ol>

        <br /><br />
        <p>
            By the way, here is an interesting video about privacy in the modern
            age, how the governments and the people in power are dumping loads
            of money into making our privacy into as what the German likes to call
            "scheiße", and what we can do to prevent this. Before I kept on ranting,
            here's the <a href="https://www.youtube.com/watch?v=wqn3gR1WTcA">link</a>.
        </p>
    </div>
</body>
</html>
