@{
    ViewData["Title"] = "Privacy policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <br />Privacy in these days and age is a very important thing. To protect your privacy, we provide this notice explaining why and how
    will your information be collected and used.
</p>

<p><b>THE INFORMATION WE COLLECT</b></p>

<p>
    We will collect account information that is provided by you such as your name and gender. Other data you provided such as your audio
    sample will be stored in the server.<br /><br />
    We will not share any of your data to any third party.<br /><br />
    We will not collect information that is not provided by you explicitly including your IP address.
</p>

<p><b>DELETION OF ACCOUNT</b></p>

<p>
    You can request for account deletion at anytime. However, it will be pending admin approval. After your account is deleted, every data
    of you in our server will be deleted.
</p>

<p><b>I DON'T KNOW WHY I DO THIS EXCEPT I HAVE SOME FREE TIME</b></p>

<p>We all do weird things when we're bored. Or is it only me? Idk. </p>
