@{
    ViewData["Title"] = "Terms of Service";
}
<h1>@ViewData["Title"]</h1>

<p>
    <br />Yada yada yada
</p>

<p><b>WHY ARE YOU READING THIS</b></p>

<p>
    No one ever reads terms of service.
</p>

<p><b>PLEASE STOP READING</b></p>

<p>
    Unless you want to read my rant on the state of Malaysia.
</p>

<p><b>MAYBE I SHOULD SLEEP FIRST</b></p>

<p>Note to myself: Never drink 7 cups of coffee in a day.</p>
