<!--This page is for terms of service-->

@{
    ViewData["Title"] = "Terms of Service";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p><br />Yada yada yada</p>

    <p><b>Winston Churchill said</b></p>

    <p>A criticism may not be agreeable, but it is necessary. It calls attention to the unhealthy state of things. And the state of everything in this country, is most certainly unhealthy.</p>

    <p><b>Nothing really matters, we're all gonna die.</b></p>

    <p>We were born without any purpose,we will die without any purpose. Survival without reason.</p>

    <p><b>MAYBE I SHOULD SLEEP FIRST</b></p>

    <p>Note to self: Never drink 7 cups of coffee in a day.</p>
</div>

