<!--This page is for Tutorial-->
@{
    ViewData["Title"] = "Tutorial";
}

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <div class="container">
        <h1 style=text-align:center;>@ViewData["Title"]</h1><br />
        <p>
            This step-by-step guide will help you learn the basic interactions
            with the integrated openstreetmap.
        </p>

        <ol class="noBullets">
            <li>
                <b>Step 1</b>
                <p>Zoom out of the map and find an icon.</p>
            </li>
            <li>
                <b>Step 2</b>
                <p>
                    Click on a random location inside the map that doesn't have a
                    marker. You will be prompted a notification of the coordinates
                    of that location.
                </p>
            </li>
            <li>
                <b>Step 3</b>
                <p>
                    Locate a marker and zoom in on that location. The marker should
                    look like this <img src="/images/marker-icon.png" />
                </p>
            </li>
            <li>
                <b>Step 4</b>
                <p>
                    Hover your cursor on the marker. You will see a box of
                    information pop up.
                </p>
            </li>
            <li>
                <b>Step 5</b>
                <p>
                    You can read the information regarding the dialect in the rough
                    estimate of the region.
                </p>
            </li>
            <li>
                <b>Step 6</b>
                <p>
                    To listen to the sample audio of the dialect, click on the cursor
                    and it will direct you to the audio page.
                </p>
            </li>
            <li>
                <b>Step 7</b>
                <p>
                    After you have finished, click on the "x" button to close the box
                    of information.
                </p>
            </li>
            <li>
                <b>Optional Step</b>
                <p>
                    If you wish to provide information about a certain area regarding
                    the dialect spoken in that certain area, please contact us
                    <a asp-area="" asp-controller="Home" asp-action="userInput">here</a>.
                    We will review it and if approved, we will add it into our map to
                    provide more content to the public. Thank you.
                </p>
            </li>
        </ol>
    </div>
</body>
</html>