@{
    ViewData["Title"] = "Done!";
}

<html>
    <head></head>

    <body>
        <div class="container" id="results">
            <h3>Your suggestion has been submitted.</h3>
            <p>Thank you for your input. We really appreciate it.</p>
        </div>
    </body>
</html>